<mat-toolbar class="bg-preto! py-20! ">
  <div class="flex justify-between w-full px-15">
    <h1 class="flex items-center text-branco hover:text-verdeHover cursor-pointer"><a routerLink="/home">Fórmula Motors</a></h1>
    <div class="">
      <ul class="gap-5 items-center text-base inline-flex  uppercase">
        <li class="block"><a routerLink="/veiculos" class="inline-flex bg-verde hover:bg-verdeHover p-3 rounded-sm">Veículos</a></li>
        @if (logado) {
        <li class="block"><a routerLink="/cadastrar_veiculo" class="inline-flex bg-verde hover:bg-verdeHover p-3 rounded-sm">Cadastrar veículo</a></li>
        <li class="block"><button type="button" class="inline-flex bg-verde hover:bg-verdeHover p-3 rounded-sm cursor-pointer">Logado</button></li>
        } @else {
        <li class="block"><a routerLink="/login" class="inline-flex bg-verde hover:bg-verdeHover p-3 rounded-sm">Entrar</a></li>
        }
      </ul>
    </div>
  </div>
</mat-toolbar>