<section class="flex justify-center py-15">
  <form loginFunc="ngForm" (submit)="verificarLogin()" class="inline-flex flex-col gap-5 bg-cinza p-5 rounded-sm">
    <h1 class="text-2xl text-center">Login</h1>

    <input type="text" name="id" id="id" placeholder="ID:" class="p-2 outline-0 focus:border-verdeHover hover:border-verdeHover border-2 border-cinzaClaro rounded-sm">

    <div class="flex items-center gap-2">
      <input matInput type="{{verSenha ? 'password' : 'text'}}" [(ngModel)]="senha" name="senha" id="senha" placeholder="Senha:" class="p-2 outline-0 focus:border-verdeHover hover:border-verdeHover border-2 rounded-sm border-cinzaClaro">
      <mat-icon fontIcon="{{verSenha ? 'visibility_off' : 'visibility'}}" (click)="setVerSenha()" class="cursor-pointer mr-2 branco"></mat-icon>
    </div>
    <button type="submit" (click)="verificarLogin()" class="cursor-pointer bg-verde hover:bg-verdeHover text-preto py-2 rounded-sm">Entrar</button>
  </form>
</section>