<footer class="grid justify-center mt-30 py-8 bg-cinza ">
  <div class="grid grid-cols-2 text-lg gap-15">
    <div>
      <h3 class="font-bold">Contato</h3>
      <p class="mt-4">Telefone: +55 (11) 99999-9999</p>
      <p class="mt-1">WhatsApp: +55 (11) 99999-9999</p>
    </div>
    <div>
      <h3 class="font-bold">Endereço</h3>
      <p class="mt-4">rua, número - bairro, cidade</p>
    </div>
  </div>
  <div class="grid justify-items-center">
    <p class="col-span-2 mt-8">© Todos os direitos reservados.</p>
  </div>
</footer>