<main>
  <section class="relative flex flex-col place-items-center gap-40 my-60">

    <h1 class="text-5xl font-bold text-shadow-[2px_2px_5px_rgba(0,0,0,0.5)] z-10">Encontre o veículo <span class="text-verde">perfeito</span> para sua jornada</h1>

    <img src="assets/imagens/carroReact.webp" alt="Imagem de um veículo" class="absolute -bottom-8 justify-center w-200 drop-shadow-[10px_15px_10px_rgb(0,0,0)]">

    <ul class="flex z-10 py-1 text-[1.1rem] divide-x-3">
      <li class="px-10">100% confiável</li>
      <li class="px-10">Preços acessíveis</li>
      <li class="px-10">Suporte 24h</li>
      <li class="px-10">Veículos revisados e confiáveis</li>
    </ul>
  </section>
  <section class="grid grid-cols-2 justify-center mx-25">
    <div>
      <h2 class="text-3xl font-bold mb-7">Contato</h2>
      <div class="flex gap-3 text-[1.1rem]">
        <mat-icon fontIcon="chat" class="verde"></mat-icon>
        <p><span class="font-bold text-[1.2rem] pr-2">WhatsApp:</span> +55(11)999999999</p>
      </div>
      <div class="flex gap-3 mt-4 text-[1.1rem]">
        <mat-icon fontIcon="call" class="verde"></mat-icon>
        <p><span class="font-bold text-[1.2rem] pr-2">Telefone:</span> +55(11)999999999</p>
      </div>
    </div>
    <div>
      <h2 class="text-3xl font-bold mb-7">Endereço</h2>
      <iframe class="max-w-120 max-h-120" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3472.7016602771037!2d-46.55670046806334!3d-23.694817529535285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce435e2de7be2b%3A0xacf239efd9c886b6!2sPa%C3%A7o%20Municipal%20-SBC!5e1!3m2!1spt-BR!2sbr!4v1765683494929!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
</main>