<section class="flex justify-center">
  <div class="bg-cinza text-branco p-5 w-[80%]">
    <form action="" #editVeiculos="ngForm" (ngSubmit)="adicionar()">
      <div class="grid grid-cols-3 gap-5">
        <div class="grid col-span-2 grid-cols-2 gap-5">
          <input type="text" placeholder="Modelo:" name="modelo" [(ngModel)]="veiculo.modelo" required>
          <input type="text" placeholder="Marca:" name="marca" [(ngModel)]="veiculo.marca" required>
          <input type="text" placeholder="Categoria:" name="categoria" [(ngModel)]="veiculo.categoria" required>
          <input type="text" placeholder="Ano:" name="ano" [(ngModel)]="veiculo.ano" required>
          <input type="text" placeholder="Cor:" name="cor" [(ngModel)]="veiculo.cor" required>
          <input type="text" placeholder="Valor:" name="valor" [(ngModel)]="veiculo.valor" required>
          <input type="text" placeholder="Motor:" name="motor" [(ngModel)]="veiculo.motor" required>
          <input type="number" min="1" placeholder="Quantidade Pessoas:" name="qtde_pesssoas" [(ngModel)]="veiculo.qtde_pesssoas" required>
        </div>
        <div class="bg-contain bg-no-repeat bg-center max-w-fit justify-self-center" [style.backgroundImage]="'url('+ `${previewImagem ? previewImagem : uploadImage}` +')'">
          <input type="file" (change)="alterarImagem($event)" accept="image/*" placeholder="Imagem:" name="imagem" class="cursor-pointer h-full w-full" required>
        </div>
      </div>
      <div class="col-span-2 flex justify-center gap-5 mt-5">
        <button [disabled]="!editVeiculos.valid || !arquivoSelecionado" type="submit" class="cursor-pointer bg-verde hover:bg-verdeHover text-preto px-4 py-3 rounded-sm w-full">Salvar</button>
      </div>
    </form>
  </div>
</section>