/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-branco: rgb(244 244 245);
  --color-verde: #dce775;
  --color-verdeHover: rgba(225, 245, 97, 0.762);
  --color-preto: rgb(24 24 27);
  --color-cinza: rgb(33, 33, 37);
  --color-vermelho: #e77575;
  --color-pretoTranslucido: rgba(24, 24, 27, 0.511);
}

.material-icons.verde { color: #dce775; }
.material-icons.branco { color: rgb(244 244 245); }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 440px) {
  body, html{
    background-color: red;
  }

  footer{
    background-color: blue;
  }
}